img{
    height: auto;
    width: 400px;
}

.center{
    text-align: center;
}

.ingredient{
    display: inline-block;
    text-align: left;
}
.home-page-list{
    display: inline-block;
    text-align: left;
}

.button{
    border-radius: 12px;
}



